extends layout

block content
    h1= title

    ul 
        each author in author_list
            li
                a(href=author.url) #{author.name}
                | (#{author.birth_date} - #{author.death_date})
            
        else
            li There are no authors.